.home-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    /* enable scrolling inertia */
    -webkit-overflow-scrolling: touch;
}

.shadow-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* show transition overlay over home page content */
    z-index: 10;
}

.shadow-overlay-enter {
    animation: fadein 500ms forwards;
    -webkit-animation: fadein 500ms forwards;
}

.shadow-overlay-exit {
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeout 500ms forwards;
    -webkit-animation: fadeout 500ms forwards;
}

@keyframes fadein {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@keyframes fadeout {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}
