.work-container {
    transition: top 500ms ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow-y: scroll;
    background-color: white;
    min-height: calc(100% - 140px);
    padding-bottom: 140px;
}

.work-container-entering {
    top: 100%;
}

.work-container-entered {
    top: 0;
}

.work-container-exiting {
    top: 0;
}

.work-container-exited {
    top: 100%;
}
