.close-btn-container {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn {
    background-color: #424242;
    width: 60px;
    height: 60px;
    /* circle button */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px #212121;
}

.close-btn-img {
    width: 30px;
    height: 30px;
}

@media (max-width: 480px) {
    .close-btn {
        width: 40px;
        height: 40px;
    }

    .close-btn-img {
        width: 20px;
        height: 20px;
    }
}
