.entry:not(:last-child) {
    margin-bottom: 40px;
}

.entry-title {
    display: flex;
    align-items: flex-start;
    padding-right: 100px;
}

.entry-title > button {
    text-align: left;
}

.entry-content {
    padding-right: 100px;
    font-weight: lighter;
    font-size: 24px;
}

.entry-imgs {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
}

.entry-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.entry-img:not(:first-child) {
    margin-left: 50px;
}

@media (max-width: 992px) {
    .entry:not(:last-child) {
        margin-bottom: 80px;
    }

    .entry-img {
        width: 44px;
        height: 44px;
    }

    .entry-title {
        flex-direction: column;
    }

    .entry-imgs {
        margin-bottom: 40px;
        margin-left: 0;
    }
}
