.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.social-link,
.page-link {
    width: 40%;
}

.page-link {
    text-align: right;
}

.header-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-img {
    width: 30px;
    height: 30px;
}

.page-btn:not(:last-child) {
    margin-right: 30px;
}

@media (max-width: 992px) {
    .header {
        justify-content: flex-start;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        max-height: 150px;
    }

    .social-link {
        width: auto;
    }

    .header-btn {
        width: 44px;
        height: 44px;
    }

    .btn-img {
        width: 44px;
        height: 44px;
    }

    .page-link {
        text-align: left;
        width: auto;
    }

    .page-btn:first-child {
        margin-left: 40px;
    }

    .page-btn:not(:last-child) {
        margin-right: 40px;
    }
}
