.intro-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
    background-color: #fafafa;
    padding-top: 20%;
}

.intro {
    display: flex;
    /* vertical layout of contents */
    flex-direction: column;
}

.intro-text {
    margin-left: 150px;
    margin-right: 150px;
}

h5.intro-text {
    font-weight: lighter;
    font-size: 24px;
}

@media (max-width: 992px) {
    .intro-text {
        margin-left: 40px;
        margin-right: 40px;
    }

    h5.intro-text {
        font-size: 18px;
    }
    
    .intro-wrapper {
        padding-top: 200px;
    }
}

@media (max-width: 480px) {
    .intro-wrapper {
        padding-top: 120px;
    }
}
