body {
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background: none;
}

h2,
h3,
h4,
h5,
p {
    font-family: Helvetica, sans-serif;
    color: #4c4c4c;
    margin: 0;
    white-space: pre-wrap;
}

h2 {
    font-weight: bold;
    font-size: 56px;
}

h3 {
    font-weight: lighter;
    font-size: 28px;
}

h4 {
    font-weight: normal;
    font-size: 24px;
}

h5 {
    font-weight: normal;
    font-size: 16px;
}

p {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.8;
}

.normal {
    font-weight: normal;
}

.title {
    margin-bottom: 50px;
}

.subtitle {
    margin-bottom: 20px;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 992px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
    }
}
