.ts-page {
    /* page transition animation */
    transition: top 500ms ease-out;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow-y: scroll;
    background-color: white;
    /* make sure to cover the screen if content is not tall enough */
    min-height: calc(100% - 140px);
    padding-bottom: 140px;
    -webkit-overflow-scrolling: touch;
}

/* page enter by sliding up from bottom of window */
.ts-page-entering {
    top: 100%;
}

.ts-page-entered {
    top: 0;
}

/* page leave by sliding down towards bottom of window */
.ts-page-exiting {
    top: 0;
}

.ts-page-exited {
    top: 100%;
}
